{% extends "base.html" %}

{% block wrap %}
<div class="col-md-3 col-xs-3 col-sm-3  sidebar hidden-xs">
<aside>
    <nav>
        <ul class="nav side-nav">
            {% load i18n %}
            {% for i in sidebar_items %}
            {% if i.is_root_node %}
            <li>
                <a href="{{ i.url }}">{{ i.name }}</a>
                <ul class="nav">
                    {% for ii in i.get_children %}
                    <li><a href="{{ ii.url }}">{{ ii.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% empty %}
            <label>NO MENU SETTING FOUND!</label>
            {% endfor %}
        </ul>
    </nav>
</aside>
</div>

<div class="col-md-9 col-xs-12 col-sm-9" role="main">
{% block main %}
{% endblock %}
</div>
{% endblock %}

{% block js %}

{% endblock %}