<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
　　<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
    <meta name="description" content="{% block description_meta %}MINIBOBI,BABY CLOTHING, FAT BABY CLOTHING,{% endblock %}">
    <meta name="keywords" content = "{% block keywords_meta %}BABY CLOTHING, FAT BABY CLOTHING{% endblock %}">
    <meta name="author" content="Minibobi">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">

    <link href="/static/minibobi/css/minibobi.css" rel="stylesheet" type="text/css">
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body style="background-color:#ccc;">
    <div class="container shadow-page">
            <header>
            <div class="col-lg-12 col-sm-12 col-xs-12 navbar-header top hidden-xs">
                {% load i18n %}
                 <form action="{% url 'set_language' %}" method="post" class="form-inline language-form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
                </select>
                </form> 
                <ul class="nav navbar-nav navbar-right ">
                {% load i18n %}
                    <li><a><span>{% trans "CALL US AT" %} 131231</span></a></li>
                    <li><a><span>|</span></a></li>
                    <li><a href="/cart/"><span>{{ cart.count }} ITEMS/¥{{ cart.total }}</span></a></li>
                    <li><a><span>|</span></a></li>
                </ul>
            </div>
            <div class="top-mobile navbar-header visible-xs">
                <div class="button-group col-lg-12 col-sm-12 col-xs-12">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" id="toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div>
                        <a href="/"><span>MINIBOBI</span></a>
                    </div>
                    <a href="/cart/"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 mobile-nav">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="dropdown-toggle" data-toggle ="dropdown"><span>{% trans "GIRLS" %}</span><span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul class="dropdown-menu wideMenuItem">  
                            <li><a href="/product/girls/top/">{% trans "TOP" %}</a></li>
                            <li><a href="/product/girls/dress/">{% trans "DRESS" %}</a></li>
                            <li><a href="/product/girls/skirt/">{% trans "SKIRT" %}</a></li>
                            <li><a href="/product/girls/pants-girls">{% trans "PANTS" %}</a></li>
                            <li><a href="/product/girls/cardigan-girls">{% trans "CARDIGAN" %}</a></li>
                            <li><a href="/product/accessories/">{% trans "ACCESSORIES" %}</a></li>
                            <li><a href="/lookbook/">{% trans "LOOKBOOK" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle ="dropdown"><span>{% trans "BOYS" %}</span><span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul class="dropdown-menu wideMenuItem">  
                            <li><a href="/product/boys/tshirt/">{% trans "TSHIRT" %}</a></li>
                            <li><a href="/product/boys/polo/">{% trans "POLO" %}</a></li>
                            <li><a href="/product/boys/shirt/">{% trans "SHIRT" %}</a></li>
                            <li><a href="/product/boys/pants/">{% trans "PANTS" %}</a></li>
                            <li><a href="/product/boys/cardigan">{% trans "CARDIGAN" %}</a></li>
                            <li><a href="/product/accessories/">{% trans "ACCESSORIES" %}</a></li>
                            <li><a href="/lookbook/">{% trans "LOOKBOOK" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="/lookbook/"><span>{% trans "LOOKBOOK" %}</span><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    <li><a href="/about/"><span>{% trans "ABOUT" %}</span><span  class="glyphicon glyphicon-chevron-right"></span></a></li>
                    <li><a href="/contact/"><span>{% trans "CONTACT" %}</span><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    <li><a href="#"><span>{% trans "BLOG" %}</span><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
                <div class="col-md-7 col-sm-7 col-xs-12 hidden-xs logo">
                <a href="/"><img src = "/static/minibobi/images/logo-1.jpg" class="img-responsive"></a>
                </div>
                <div class="col-md-5 col-sm-5 search hidden-xs">
                <form class="form-inline" role = "form">
                <div class="form-group">
                    <input type="text" name="search" class="input-medium search-query" placeholder="search" />
                    </div>
                    <a  class="glyphicon glyphicon-search"></a>
                </form>
                </div>
            </header>
            <div class="col-md-12 col-sm-12 navbar hidden-xs">
                <nav>
                    <ul class="nav navbar-nav main-nav">
                        <li><a href="/product/boys/">{% trans "BOYS" %}</a></li>
                        <li><a href="/product/girls/">{% trans "GIRLS" %}</a></li>
                        <li><a href="/lookbook/">{% trans "LOOKBOOK" %}</a></li>
                        <li><a href="/about/">{% trans "ABOUT" %}</a></li>
                        <li><a href="/contact/">{% trans "CONTACT" %}</a></li>
                        <li><a href="#">{% trans "BLOG" %}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
            <div class="col-md-12 wrap">
            {% block wrap %}
            {% endblock %}
            </div>
            </div>
        </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="nav col-md-4 col-sm-4 col-xs-6 foot-nav foot-nav-left">
                    <li>MINI BOBI</li>
                    <li><a href="#">{% trans "About" %}</a></li>
                    <li><a href="#">{% trans "Contact" %}</a></li>
                    <li><a href="#">{% trans "Blog" %}</a></li>
                    <li><a href="#">{% trans "Press review" %}</a></li>
                    <li><a href="#">{% trans "Stockists" %}</a></li>
                </ul>
                <ul class="nav col-md-4 col-sm-4 col-xs-6 foot-nav foot-nav-middle">
                    <li>E-SHOP</li>
                    <li><a href="#">{% trans "Payment" %}</a></li>
                    <li><a href="#">{% trans "Shipping" %}</a></li>
                    <li><a href="#">{% trans "Return" %}</a></li>
                    <li><a href="#">{% trans "General terms and conditions of sales" %}</a></li>
                </ul>
                <ul class="nav col-md-4 col-sm-4 col-xs-12 foot-nav foot-nav-right">
                    <li><a href="#">{% trans "SIZE GUIDE" %}</a></li>
                    <li><a href="#">{% trans "NEWSLETTER SUBSCRIPTION" %}</a>
                        <a>{% trans "Receive our news and customized offers by subscribing to our newsletter" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
<script src="/static/minibobi/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/minibobi/js/jquery.pin.min.js"></script>
<script type="text/javascript" src="/static/minibobi/js/responsiveslides.min.js"></script>
<script type="text/javascript">
    $(".side-nav").pin({
        containerSelector:".wrap"
    });
    var close = 0;

    $("#toggle").click(function(){
        if (close == 0){
          $(".mobile-nav").slideDown(300);
          close = 1;  
        }
        else{
          $(".mobile-nav").slideUp(300);
          close = 0;  
        }
    });
</script>
<script type="text/javascript">
  $(function() {
    $(".banner ul").responsiveSlides();
  });
</script>
<script type="text/javascript">
    $(".language-form select").change(function(){
        $(".language-form").submit();
    });

    $(function(){
        var url = window.location.pathname;
        var menu = $(".main-nav>li>a[href='"+url+"']");
        menu.addClass("active");
    });
</script>
{% block js %}
{% endblock %}

</html>