{% extends "base-page.html" %}

{% block title %}CONTACT MINIBOBI{% endblock %}

{% block main %}
                {% load i18n %}
                <div class="col-md-12 col-xs-12 col-sm-12 contact">
                    <h3>{% trans "CONTACT US" %}</h3>
                  <div style="margin-bottom:20px;">
                    <img src="/static/minibobi/images/contact.jpg" class="img-responsive">
                  </div>
                   <form role="form" id='form' action='/contact/' method='post' class="form-horizontal col-md-6 col-xs-12 col-sm-12">
                     {% csrf_token %} 
                      <div class="form-group">
                        <input type="text" class="form-control" id="id_name" name='name' placeholder="{% trans "Contact Name" %}">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="id_email" name = 'email' placeholder="{% trans "Contact E-mail" %}">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="id_tel" name = 'subject' placeholder="{% trans "Subject" %}">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" id = 'id_content' name = 'content' rows="6" placeholder="{% trans "Content" %}"></textarea>
                      </div>
	                    <div class="contact_btn" style="float:right;">
	                    	<a href= "javascript:void(0)" class="submit">{% trans "Submit" %}</a>
	                    </div>
                    </form>
                </div>

{% endblock %}
{% block js %}
<script type="text/javascript">
	$(function(){
		$(".submit").click(function(){
			$(".contact>form").submit();
		});
	});
	var status = {{ status }};
	if (status == 1){
		alert("Thanks for your message, we'll contact you soon!");
		window.location.href="/";
	}
</script>
{% endblock %}