{% extends "base-list.html" %}
{% load i18n %}
{% block title %}Homepage | MiniBobi, Clothing For Fat Baby{% endblock %}
{% block main %}
                <div class="banner">
                    <ul>
                        {% for b in banners  %}
                        <li>
                            <img src="{{ b.image.url }}" class="img-responsive"/>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="items">
                    {% for p in products %}
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <a href="/product/{{ p.id }}/">
                            <img src="{{ p.get_cover.thumb_big }}" class="img-responsive"/>
                            {% if p.is_discount %}
                            <img src="{{ p.discount.icon.url }}" class="discount" />
                            {% endif %}
                            </a>
                        </div>
                        <div class="brief">
                        <p><a href="/product/{{ p.id }}/">{{ p.name }}</a></p>
                        <p>
                        {% if p.is_discount %}
                        <span style="text-decoration:line-through;">¥{{ p.price }}</span>
                        <span>¥{{ p.get_real_price }}</span>
                        {% else %}
                        <span>¥{{ p.price }}</span>
                        {% endif %}
                        </p>
                        </div>
                        <div class="cart_btn">
                        <a href= "/product/{{ p.id }}/"><span>{% trans "VIEW PRODUCT" %}</span></a>
                        </div>
                    </div>
                    {% empty %}
                    <label>{% trans "No Product" %}</label>
                    {% endfor %}
                </div>
{% endblock %}
{% block js %}

{% endblock %}