{% extends "base-page.html" %}
{% block title %}Lookbook{% endblock %}
{% block main %}
                <div class="col-md-12 col-sm-12 col-xs-12 lookbook">
                    <div class="title">
                        <h3>LOOKBOOK</h3>
                        <h4>{{ lookbook.name }}</h4>
                    </div>
                </div>
                {% for i in lookbook.images.all %}
                <div class="col-md-12 col-sm-12 col-xs-12 lookbook">
                    <img src="{{ i.image.url }}" class="img-responsive" style="margin:0 auto;">
                </div>
                {% endfor %}

{% endblock %}