{% extends "base-list.html" %}
{% block title %}Notice{% endblock %}
{% block main %}
{% block css %}
<style>
    li{
        line-height: 26px;
    }
    a{
        text-decoration: underline;
    }
</style>
{% endblock %}
{% load i18n %}
                <div>
                	<h4>{% blocktrans %}Payment{% endblocktrans %}</h4>
                    <ul>
                        <li>
<b>{% blocktrans %}How to order online:{% endblocktrans %}</b><br/>
{% blocktrans %}Once you’ ve decided which product you want to buy, on the product page, click on “Add to cart”. Then after having chosen your shipping option, click on “confirm order”. After, fill the contact information form and click on “submit order”. You will receive an e-mail to make a transfer on our Alipay account.{% endblocktrans %}<br/>
{% blocktrans %}Make a transfer from your Alipay account and send us an email at the same address to receive your purchase.{% endblocktrans %}<br/>
{% blocktrans %}Click <a href="/">here</a> to shop now!{% endblocktrans %}
                        </li>
                        <li>
<b>{% blocktrans %}How to order from your phone:{% endblocktrans %}</b><br/>
{% blocktrans %}You can use Minibobi’ s Weidian and pay with Alipay directly from your mobile phone.{% endblocktrans %}
    
                        </li>
                    </ul>
                    <h4>{% blocktrans %}Shipping{% endblocktrans %}</h4>
                    <ul>
                        <li>
{% blocktrans %}Standard delivery is FREE and usually arrives within 1 - 2 working days from the shipped date. It is delivered with SF Express, in Mainland China.{% endblocktrans %}
                        </li>
                        <li>
{% blocktrans %}Rush delivery can be applied in Shanghai if you need the item as fast as possible (FEE: 50RMB). Our team will bring your purchase in person directly at home! Contact us: sales@minibobi.com{% endblocktrans %}
                        </li>
                        <li>
                           {% blocktrans %} Delivery to certain postcodes is currently not available.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}Shipping rates:{% endblocktrans %}<br/>
                            {% blocktrans %}Standard delivery: <b>free shipping</b>{% endblocktrans %}<br/>
                            {% blocktrans %}Rush delivery: <b>50 RMB</b>{% endblocktrans %}
                        </li>
                    </ul>
                    <h4>{% blocktrans %}Returns & exchanges{% endblocktrans %}</h4>
                    <ul>
                        <li>
                            {% blocktrans %}The return and Exchange Policy described below applies <b>only to 
online purchase</b> website made through <a href="/">www.minibobi.com</a>{% endblocktrans %}
                        </li>
                        <li>
                           {% blocktrans %} Non-returnable: all sales or gift card, jewelleries and accessories. Non-returnable items cannot be returned for exchange, credit, or refunds.{% endblocktrans %}
                        </li>
                        <li>
{% blocktrans %}For all other items, to be eligible for an exchange, credit or refund, the merchandise must be returned unworn with tags, intact, and must be accompanied by the original return form and customs document (if applicable).{% endblocktrans %}
                        </li>
                        <li>
                           <b>{% blocktrans %} Returns are accepted within 28 days from the order date.{% endblocktrans %}</b>
                        </li>
                    </ul>
                </div>
{% endblock %}

