{% extends "base-list.html" %}
{% block title %}Notice{% endblock %}
{% block main %}
                <div>
                	<h4>付款</h4>
                    <ul>
                        <li>
                        如何在网上订购我们的商品:<br/>
                        一旦您决定了购买哪款商品，请在该商品页面点击“加入购物车”选项，选好了送货方式以后，点击“确认订单”选项，然后，填写联系方式并点击“提交订单”选项，请在收到转账提醒的消息以后将钱转入我们的支付宝账户，我们会尽快为您安排发货，请耐心等待
                        </li>
                    </ul>
                    <h4>送货</h4>
                    <ul>
                        <li>
                            如果您选择普通的送货方式，我们将使用顺丰快递，免费为您送货（仅限中国大陆以及顺丰快递能够送达的地区），商品将在发货以后1-2个工作日内送达您的手上
                        </li>
                        <li>
                            如果您希望商品以最快的速度送达您的手上，可以选择我们为您提供的加急配送服务（仅限上海地区，费用：50元人民币）我们的团队会将商品亲自送达您的家中，请通过以下方式联系我们：sales@minibobi.com
                        </li>
                        <li>
                            注意：某些地区顺丰快递暂时还无法送达，请购物前咨询
                        </li>
                        <li>
                            配送费用:<br/>
                            普通配送：免费 <br/>
                            加急配送：50元人民币
                        </li>
                    </ul>
                    <h4>退货与换货</h4>
                    <ul>
                        <li>
                            退货与换货请参照www.minibobi.com里的详细规则，本规则仅适用于网上购物
                        </li>
                        <li>
                            不可退换商品：所有的降价商品、礼品卡、首饰以及配件都不能退换，包括：不能换品、退还现金或将消费金额退还信用卡
                        </li>
                        <li>
                            对于其他满足退换货要求的商品，购物者在退还原先购买的商品时必须保持衣物本身以及商标的完整，同时还请附上原先购物的消费凭证或者单据
                        </li>
                        <li>
                            自提交订单之日起28日内可接受退货
                        </li>
                    </ul>
                </div>
{% endblock %}

