<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MINIBOBI,BABY CLOTHING, FAT BABY CLOTHING,">
    <meta name="author" content="Minibobi">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href="../static/minibobi/css/style.css" rel="stylesheet" type="text/css">
    <title>Minibobi-Homepage </title>

</head>
<body style="background-color:#ccc;">
    <div class="container shadow-page">
            <header>
            <div class="col-md-12 top">
                <ul class="nav navbar-nav">
                    <li><a href="#">简体中文</a></li>
                    <li><a>|</a></li>
                    <li><a href="#">English</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li><a><span>call us at 131231</span></a></li>
                    <li><a><span>|</span></a></li>
                    <li><a><span>2 items/¥800</span></a></li>
                    <li><a><span>|</span></a></li>
                </ul>
            </div>
                <div class="col-md-7 logo">
                <img src = "../static/minibobi/images/LOGO.jpg">
                </div>
                <div class="col-md-5 search">
                <form class="form-search">
                <input type="text" name="search" class="input-medium search-query" placeholder="search" />
                <a class="glyphicon glyphicon-search"></a>
                </form>
                </div>
            </header>
            <div class="col-md-12 navbar">
                <nav>
                    <ul class="nav navbar-nav main-nav">
                        <li><a href="#">BOYS</a></li>
                        <li><a href="#">GIRLS</a></li>
                        <li><a href="#">LOOKBOOK</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">BLOG</a></li>
                    </ul>
                <nav>
            </div>
            <div class="row">
            <div class="col-md-12 wrap">
            <div class="col-md-3  sidebar">
                <aside>
                    <nav>
                        <ul class="nav side-nav">
                            <li><a href="#">BOYS</a>
                                <ul class="nav">  
                                    <li><a href="#">TOP</a></li>
                                    <li><a href="#">DRESS</a></li>
                                </ul>
                            </li>
                            <li><a href="#">GIRLS</a>
                                <ul class="nav">  
                                    <li><a href="#">TOP</a></li>
                                    <li><a href="#">DRESS</a></li>
                                </ul>
                            </li>
                            <li><a href="#">LOOKBOOK</a></li>
                            <li><a href="#">SALES</a></li>
                            <li><a href="#">ACCESORIES</a>
                                <ul class="nav">  
                                    <li><a href="#">MINI BOBI</a></li>
                                    <li><a href="#">ANA</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12" role="main">
                <div class="banner" style="background:url('../static/minibobi/images/banner1.jpg');background-size:100%;">
                    <h1>Mini Bobi</h1>
                    <h1>2014</h1>
                    <h3>SPRING/SUMMER COLLECTION</h3>
                    <h4>HAVE A LOOK HERE</h4>
                </div>
                <div class="items">
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg">
                            <div class="discount discount-20">
                                <img src="../static/minibobi/images/discount-20.png">
                            </div>
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                            <div class="soldout">
                                <span>SOLD OUT!!</span>
                            </div>
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 item">
                        <div class="cover">
                            <img src="../static/minibobi/images/product.jpg"  >
                        </div>
                        <p>White Polo</p>
                        <p>¥100.00</p>
                        <a href="#"><span>ADD TO CART</span></a>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="nav col-md-4 foot-nav foot-nav-left">
                    <li>MINI BOBI</li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press review</a></li>
                    <li><a href="#">Stocklists</a></li>
                </ul>
                <ul class="nav col-md-4 foot-nav foot-nav-middle">
                    <li>E-SHOP</li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Return</a></li>
                    <li><a href="#">General terms and conditions of sales</a></li>
                </ul>
                <ul class="nav col-md-4 foot-nav foot-nav-right">
                    <li><a href="#">SIZE GUIDE</a></li>
                    <li><a href="#">NEWSLETTER SUBSCRIPTION</a>
                        <p>Receive our news and customized offers by subscribing to our newsletter</p>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
<script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
<script type="text/javascript">
    $(".side-nav").pin({
        containerSelector:".wrap"
    });
</script>
</html>